.wrap {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.innerWrap {
  flex: 1;
}
.wrap span {
  width: 440px;
  word-break: normal;
}
.nickName {
  font-weight: 700;
  cursor: pointer;
}

.commentText {
  margin-left: 5px;
  word-wrap: break-word;
}
.editIcon {
  margin: 5px;
  font-size: 14px;
}
