.wrap {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.outterWrap {
  display: flex;
  flex-direction: column;
}
.innerWrap {
  flex: 1;
}
.momWrap {
  display: flex;
}
.replyWrap {
  display: flex;
  flex-direction: column;
}
.replyInputWrap {
  margin-bottom: 10px;
  margin-left: 15px;
  display: flex;
}
.replyInputWrap input {
  flex: 1;
}
.sonWrap {
  margin-bottom: 10px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.wrap span {
  width: 440px;
  word-break: normal;
}
.nickName {
  color: black;
  font-weight: 700;
  cursor: pointer;
}
.commentText {
  margin-left: 5px;
  word-wrap: break-word;
}
.editWrap {
  display: flex;
}
.editIcon {
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}
