.wrap {
  display: flex;
  flex-direction: column;
}
.outterWrap {
  display: flex;
  flex-direction: row;
}
.innerWrap {
  flex: 1;
}
.nickName {
  color: black;
  font-weight: 700;
  cursor: pointer;
}
.commentText {
  margin-left: 5px;
  word-wrap: break-word;
}
.commentTextInput {
  flex: 1;
}
.editIcon {
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}
.replyInputWrap {
  margin-bottom: 10px;
  display: flex;
}
.replyInputWrap input {
  flex: 1;
}
