* {
  list-style: none;
}

.wrap {
  width: 470px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid grey;
}

.img {
  border-radius: 10px;
  border-radius: 1px solid grey;
  width: 100%;
}

.commentInput{
  width: 451px;
  height: 18px;
}