.wrap {
  height: 270px;
  width: 400px;
  position: fixed;
  top: 40%;
  background-color: white;
  border: 3px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.wrap h2 {
  margin-bottom: 20px;
}
.innerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentWrap {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.feedText {
  resize: none;
  padding-left: 5px;
  border-radius: 3px;
  border: 1px solid;
  width: 300px;
  height: 70px;
}
.buttons {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 5px 0;
}

.buttons input {
  border-radius: 3px;
  border: none;
  margin: 0 5px;
  background-color: rgb(15, 191, 15);
  width: 70px;
  height: 30px;
  cursor: pointer;
  font-weight: 700;
}
.buttons button {
  border-radius: 3px;
  border: none;
  margin: 0 5px;
  background-color: rgb(253, 101, 101);
  width: 70px;
  cursor: pointer;
  font-weight: 700;
}
